.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://www.teahub.io/photos/full/175-1752060_wallpaper.jpg");
    background-size: cover;
}

.loginTitle{
    font-size:50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    width: 70%;
    flex-direction: column;
}

.loginForm>label{
    margin: 10px 0;
}

.loginInput{
    border:none;
    padding: 10px;
    background-color: #fff;
}

.loginButton{
    margin-top: 20px;
    cursor:pointer;
    background-color: lightcoral;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}


.loginRegButton{
    position:absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}